<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form [formGroup]="authForm" autocomplete="off" (ngSubmit)="setLogin()" cForm>
                  <h1>Login E-Control</h1>
                  <p class="text-medium-emphasis">Ingresa a tu cuenta</p>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input formControlName="email" autoComplete="username" cFormControl placeholder="Email" />
                  </c-input-group>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      formControlName="pass"
                      autoComplete="current-password"
                      cFormControl
                      placeholder="Contraseña"
                      type="password"
                    />
                  </c-input-group>
                  <c-row>
                    <c-col xs="6">
                      <button type="submit" cButton class="px-4" color="primary">
                        Ingresar
                      </button>
                    </c-col>
                    <c-col class="text-right" xs="6">
                      <button cButton class="px-0" color="link">
                        Contraseña olvidada?
                      </button>
                    </c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
            <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
              <c-card-body class="text-center">
                <div>
                  <h2>Ingresar</h2>
                  <p>
                    Puedes ingresar con las credenciales facilitadas por el administrador.
                  </p>
                  <!-- <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                    Register Now!
                  </button> -->
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
<c-toaster [placement]="positionToast" class="p-3">
    <c-toast [color]="colorToast" [autohide]="true" [fade]="false" [visible]="showToast">
      <c-toast-header>
        <!-- <toast-sample-icon></toast-sample-icon> -->
        {{titleToast}}
      </c-toast-header>
      <c-toast-body>{{messageToast}}</c-toast-body>
    </c-toast>

</c-toaster>
  
